on: push
name: CI

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: build-push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: $GITHUB_REPOSITORY/banking-frontend:latest


  deploy:
    name: deploy to cluster
    needs: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Save DigitalOcean kubeconfig
        uses: digitalocean/action-doctl@master
        env:
          DIGITALOCEAN_ACCESS_TOKEN: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
        with:
          args: kubernetes cluster kubeconfig show k8s-1-19-3-do-2-sfo2-1605416017888 > $GITHUB_WORKSPACE/.kubeconfig
      - name: Deploy to DigitalOcean Kubernetes
        run: kubectl --kubeconfig=$GITHUB_WORKSPACE/.kubeconfig apply -f $GITHUB_WORKSPACE/k8s.yml