on: push
name: CI

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.TOKEN }}
      - name: build-push.
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.sha }}

  deploy:
    name: deploy to cluster
    needs: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Save DigitalOcean kubeconfig
        uses: digitalocean/action-doctl@master
        env:
          DIGITALOCEAN_ACCESS_TOKEN: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
        with:
          args: kubernetes cluster kubeconfig show ${{ secrets.KUBE_CLUSTER }} > $GITHUB_WORKSPACE/.kubeconfig
      - name: Replace __IMAGE_TAG__ with Github Sha
        run: sed -i "s~__IMAGE_TAG__~${{ github.sha }}~" $GITHUB_WORKSPACE/k8s.yml
      - name: Deploy to DigitalOcean Kubernetes
        run: kubectl --kubeconfig=$GITHUB_WORKSPACE/.kubeconfig apply -f $GITHUB_WORKSPACE/k8s.yml